// Styles
// name mixin after scss projects
@mixin projects($type: "") {
    // get Basesize in correct relation to design width
    $BS: getBaseSize($type);
    .projects {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle at center, $Violet, $VioletDarkest);
    }
}

// Add projects
@include projects();
// Add basic projects with breakpoints
@each $Breakpoint in $Breakpoints {
    @include breakpoint(#{$Breakpoint}) {
        @include projects(#{$Breakpoint});
    }
}